html {
    background: linear-gradient(177.52deg, #000000 2.11%, #363636 81.34%);;
    background-repeat: no-repeat;
    height: 100%;
}

body {
    font-family: 'Montserrat', 'sans-serif', 'Mansalva', cursive;
    color: aliceblue;
}

h2, footer {
    font-family: 'Mansalva';
}



.custom-button {
    border: none;
    color: black;
    background-color: whitesmoke;
    height: 50px;
    border-radius: 8%; 
 
}

.itens-comprados {
text-decoration: line-through;
}

.borda-lista {
    border-bottom: dotted 2px black;
}

input:disabled {
    border: none;
    background: none;
    color: black;
}

input {
    border: none;
    background: none;
    color: black;
}

